<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>
  <title>The Captioner</title>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <header>
    <h1>Go on. Amuse yourself.</h1>
  </header>
  <section id="select-image">
    <h2>Step 1. Select an image</h2>
    <p>Enter keywords to search for images</p>
    <input id="search-term" type="text">
    <button id="go-search">Search</button>
    <div id="search-results">
    </div>
    <div id="branding"></div>
  </section>
  <section id="add-text">
    <h2>Step 2. Add some text</h2>
    <input id="text" type="text" value="Curiosity is one of the great secrets of happiness">
  </section>
  <section id="style-image">
    <h2>Step 3. And style it!</h2>
    <div id="workspace">
      <p id="caption"></p>
    </div>
    <div id="controls">
      Left: <input type="number" value="10" id="left">
      Top: <input type="number" value="10" id="top">
      Width: <input type="number" value="400" id="width">
      Size: <input type="number" value="32" id="size">
      Colour: <select id="colour">
          <option>red</option>
          <option>orange</option>
          <option>yellow</option>
          <option>green</option>
          <option>blue</option>
          <option>indigo</option>
          <option>violet</option>
          <option>brown</option>
          <option>pink</option>
          <option>white</option>
          <option>grey</option>
          <option>black</option>
          <option>gold</option>
          <option>silver</option>
        </select>
        Align: <select id="align">
          <option>left</option>
          <option>right</option>
          <option>center</option>
          <option>justified</option>
        </select>
    </div>
    <div id="social">
      <span id="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="I built a 'Motivational Posters' page today here at @makersacademy!">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </span>
      <span class="fb-share-button" data-href="https://intense-ravine-2500.herokuapp.com/" data-layout="button_count">
      </span>
    </div>
    <footer>
      <a href="http://www.makersacademy.com/"><img src="http://assets.makersacademy.com/images/logo/ma-wordmark-red.png"></a>
      <div>
        Page built by <a href="https://github.com/dearshrewdwit">Edward Withers</a> using free wifi at the Barbican Center, London, for the precourse at
        <a href="http://www.makersacademy.com">Makers Academy</a>, a highly selective 12 week coding course in London.
      </div>
      <div>
        This page uses <a href="https://www.google.co.uk/imghp?hl=en&tab=wi&ei=PuYTVqkyiqWyAZuZn9gF&ved=0CBQQqi4oAQ">Google Image search</a>, <a href="https://www.ruby-lang.org/en/">Ruby</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, <a href="https://www.javascript.com/">Javascript</a>, <a href="https://jquery.com/">jQuery</a>, <a href="http://www.w3.org/MarkUp/Guide/">HTML</a> and <a href="http://www.w3.org/Style/CSS/">CSS</a>.
      </div>
    </footer>
  </section>
</body>
</html>
