body {
  text-align: center;
  background-image: url(/images/mirrored_squares.png);
  color: #fefefe;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

body h1 {
  color: grey;
  font-size: 72px;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

header {
  padding: 15px;
  background-color: rgba(255,255,255, 0.7);
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

section {
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#go-search {
   background: #3d3d3d;
   background: -webkit-gradient(linear, left top, left bottom, from(#7a8485), to(##3d3d3d));
   background: -webkit-linear-gradient(top, #7a8485, ##3d3d3d);
   background: -moz-linear-gradient(top, #7a8485, ##3d3d3d);
   background: -ms-linear-gradient(top, #7a8485, ##3d3d3d);
   background: -o-linear-gradient(top, #7a8485, ##3d3d3d);
   padding: 7px 7px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   color: white;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
#go-search:hover {
   background: #1c3545;
   color: #d4e6ff;
}
#go-search:active {
   background: #1b435e;
}

#select-image {
  background-color: rgba(255,255,255, 0.3);
  padding: 10px;
}

#search-results img {
  border: 1px solid black;
  margin: 5px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
  border-radius: 25px;
}

#search-results img:hover {
  border: 1px solid #0000ff;
}

#branding {

}

#add-text {
  height: 120px;
  background-color: rgba(0,255,255, 0.02);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#add-text input {
  width: 200px;
  height: 18px;
  text-align: left;
}

input, button {
  font-size: 16px;
}

#style-image {
  color: black;
  background-color: rgba(255,255,255, 0.7);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#workspace {
  position: relative;
  width: 600px;
  min-height: 300px;
  border: 5px dashed white;
  margin: 0 auto;
}

#workspace img {
  width: 600px;
}

#caption {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  width: 400px;
  font-size: 32px;
  color: white;
  margin: 0;
}

#controls {
  padding: 10px;
  font-size: 14px;
}

input[type="number"] {
  width: 50px;
}

#social span {
  margin: 5px;
  bottom: -1px;
}

footer {
  background-color: rgba(255,0,255,0.01);
  padding: 10px;
  text-align: left;
  box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
}

footer img {
  float: left;
  width: 600px;
  margin-right: 40px;
}

footer div {
  margin: 10px 0px;
}
